.serv {
  width: 50%;
  background: #fff;
  padding: 40px;
  margin-bottom: 40px;
}

.header-image {
  width: 100%;
  height: 60vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  img {
    width: 100%;
    position: relative;
    filter: brightness(70%);
  }

  h1 {
    position: absolute;
    top: 300px;
    left: 600px;
    color: #fff;
  }
}

.services-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
  
    .services-title {
      font-size: 2.5em;
      color: #333;
      margin-bottom: 40px;
      text-align: center;
    }
  
    .services-list {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
  
    .service-card {
      width: calc(50% - 20px);
      margin: 0 10px 20px;
      background: #fff;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
      overflow: hidden;
      position: relative;
      transition: transform 0.3s ease, box-shadow 0.3s ease;
  
      &:hover {
        transform: translateY(-5px);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
      }
  
      .service-image {
        width: 100%;
        height: 500px;
        background-size: cover;
        background-position: center;
        transition: transform 0.3s ease; /* Smooth image transition */
  
        &:hover {
          transform: scale(1.1); /* Zoom effect on hover */
        }
      }
  
      .service-content {
        padding: 20px;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        background: rgba(255, 255, 255, 0.9);
        transform: translateY(100%);
        transition: transform 0.3s ease; /* Smooth content transition */
        opacity: 0;
        pointer-events: none; /* Prevent interaction when hidden */
      }
  
      &:hover .service-content {
        transform: translateY(0);
        opacity: 1;
        pointer-events: auto; /* Allow interaction when visible */
      }
  
      .service-title {
        font-size: 1.5em;
        color: #333;
        margin-bottom: 10px;
      }
  
      .service-description {
        font-size: 1.1em;
        color: #555;
      }
    }
  }

  @media (max-width: 480px ) {
    .header-image {
      margin-top: -20px;

      h1 {
        top: 150px;
        left: 50px;
      }
    }
    .services-container {
      margin: 0;

      .services-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
      }
      .service-card {
        width: 95%;
      }
    }
    .serv {
      width: 70%;
    }
  }
  