.body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    width: 100%;

    .content-body {
        width: 50%;
        padding: 60px;

        h3 {
            padding: 20px 0px;
        }

        p {

            div {
                padding: 20px 0px;
            }
        }
    }
}